html{
    box-sizing:border-box;
}

#loginBody {
    background-color: #f5f6f7;
}

#loginHead{
    height: 5vh;
    border-bottom: 1px solid rgba(163, 0, 5, 0.5);
    background-color: black;
    text-align: left;
}

.login_create{
    margin: 5vh auto;
    width: 90vw;
    display: flex;
}

.login_create > div{
    width: 50%;
    background-color: rgb(163, 0, 5);
    border: 1px solid rgba(163, 0, 5, 0.5);
    text-align: center;
}

/*when login or signup section is active*/
#login_click, #signup_click{
    background-color:#f5f6f7;
}

#signup{
    display: none;
}


 